---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout
  ><div class="text-lg flex flex-col gap-2">
    <h3 class="text-xl font-bold mt-2">Work Stuff</h3>
    <p>
      I am a fullstack engineer who loves frontend, and creating awesome
      experiences online. I have 4+ years of experience working with startups of
      varying team sizes and product types.
    </p>
    <p>
      I have created products like <a
        class="underline"
        href="https://doubletick.io">DoubleTick</a
      > from scratch, optmized <a class="underline" href="https://zkx.fi"
        >trading platforms</a
      > bringing in millions of dollars in revenue for different companies. If my
      experiences or future goals interest you, lets connect on <a
        class="underline"
        href="https://x.com/sovkay">@twitter</a
      >.
    </p>
    <h3 class="text-xl font-bold mt-2">Mornings</h3>
    <p>
      My day to day routine begins with a 300ml cup of hot americano, no sugar
      or ice just 5-10 grams of coffee in a cup of hot water.
    </p>
    <h3 class="text-xl font-bold mt-2">Vacations</h3>
    <p>
      I love travelling, cooking and tasting good food. Mostly I like the
      beaches that are out there and cliff side cafes.
    </p>
    <h3 class="text-xl font-bold mt-2">Talk to me</h3>
    <p>Best way to connect with me is on @X</p>
  </div>
  <div
    class="scroll-arrow-container hidden bg-slate-200 rounded-full p-8 backdrop-blur-md shadow items-end absolute bottom-8"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="scroll-arrow"
      ><path d="M8 18L12 22L16 18"></path><path d="M12 2V22"></path></svg
    >
  </div>
</Layout>
