---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div
    class="h-full w-full flex flex-col items-start justify-center gap-4 relative"
  >
    <h1 class="text-3xl sm:text-6xl font-bold name-title">
      Hello, Saurav here!
    </h1>
    <div class="text-lg flex flex-col gap-2 sm:text-left">
      <p>
        I am a fullstack engineer who loves frontend, and creating awesome
        experiences online. I have 4+ years of experience working with startups
        of varying team sizes and product types.
      </p>
      <p>
        I have created products like <a
          class="underline"
          target="_blank"
          href="https://doubletick.io">DoubleTick</a
        > from scratch, <a
          class="underline"
          target="_blank"
          href="https://morphic.com">Morphic</a
        >, optmized <a
          class="underline"
          target="_blank"
          href="https://zkx.fi">trading platforms</a
        > bringing in millions of dollars in revenue for different companies. If
        my experiences or future goals interest you, lets connect on <a
          class="underline"
          href="https://x.com/sovkay"
          target="_blank">@twitter</a
        >.
      </p>
      <p>If you want to talk about projects or hiring</p>
      <div>
        <a href="https://x.com/sovkay" target="_blank"
          ><Button className="min-w-fit mt-3 mr-2">Twitter</Button></a
        >
        <a href="/docs/Saurav-Kumar-Resume.pdf" target="_blank"
          ><Button>Check Resume</Button></a
        >
      </div>
    </div>
    <h1 class="text-3xl mt-8 sm:text-6xl font-bold">Experience</h1>
    <div class="p-6 sm:p-10">
      <div
        class="relative pl-6 grid gap-10 after:absolute after:inset-y-0 after:w-px after:bg-muted-foreground/20 after:left-0"
      >
        <div class="grid gap-1 text-sm relative">
            <div
              class="aspect-square w-3 bg-primary rounded-full absolute left-0 translate-x-[-29.5px] z-10 top-1"
            >
            </div>
            <div class="font-medium">Aug, 2024 - Present | Founding Engineer</div>
            <div class="text-muted-foreground">
              <a
                href="https://morphic.com"
                target="_blank"
                class="font-medium hover:underline"
                >Morphic
              </a>
              <span> - SF, US | Remote</span>
            </div>
            <div class="text-muted-foreground">
              Building high performance collaborative systems for the next generation of creative directors and animators
            </div>
          </div>
        <div class="grid gap-1 text-sm relative">
          <div
            class="aspect-square w-3 bg-primary rounded-full absolute left-0 translate-x-[-29.5px] z-10 top-1"
          >
          </div>
          <div class="font-medium">Jan, 2024 - Jul, 2024 | Frontend Engineer</div>
          <div class="text-muted-foreground">
            <a
              href="https://zkx.fi"
              target="_blank"
              class="font-medium hover:underline"
              >ZKX
            </a>
            <span> - London, UK | Remote</span>
          </div>
          <div class="text-muted-foreground">
            Build referrals, airdrop and staking programs using L1, L2, L3 rpcs
            and contracts<br />
            Created multiple accounts on custom starknet account <br />
            Optimized the orderbook to reduce render times by 60%
          </div>
        </div>
        <div class="grid gap-1 text-sm relative">
          <div
            class="aspect-square w-3 bg-primary rounded-full absolute left-0 translate-x-[-29.5px] z-10 top-1"
          >
          </div>
          <div class="font-medium">
            Mar, 2023 - Jan, 2024 | Full Stack Engineer
          </div>
          <div class="text-muted-foreground">
            <a
              href="https://doubletick.io"
              target="_blank"
              class="font-medium hover:underline">Quicksell</a
            >
            <span> - Mumbai, India</span>
          </div>
          <div class="text-muted-foreground">
            Created the payment and invoice services to bring in $3 million <br
            />
            Developed end to end CRM for sales team to increase revenue by 70%
          </div>
        </div>
        <div class="grid gap-1 text-sm relative">
          <div
            class="aspect-square w-3 bg-primary rounded-full absolute left-0 translate-x-[-29.5px] z-10 top-1"
          >
          </div>
          <div class="font-medium">
            Aug, 2022 - Mar, 2023 | Frontend Engineer
          </div>
          <div class="text-muted-foreground">
            <a
              href="https://doubletick.io"
              target="_blank"
              class="font-medium hover:underline"
            >
              Quicksell
            </a>
            <span> - Mumbai, India</span>
          </div>
          <div class="text-muted-foreground">
            Led the development of a large-scale product Doubletick using React <br
            />
            Hired, mentored and led a team of three developers
          </div>
        </div>
        <div class="grid gap-1 text-sm relative">
          <div
            class="aspect-square w-3 bg-primary rounded-full absolute left-0 translate-x-[-29.5px] z-10 top-1"
          >
          </div>
          <div class="font-medium">
            Jan, 2021 - Jul, 2022 | Technical Staff [Frontend Engineer]
          </div>
          <div class="text-muted-foreground">
            <a
              href="https://getmason.io"
              target="_blank"
              class="font-medium hover:underline"
            >
              Mason
            </a>
            <span> - Bangalore, India | Remote</span>
          </div>
          <div class="text-muted-foreground">
            Created Automaion and social media connectors for Mason. <br />
            Ported legacy React app to React 16. Optmized app to reduce size by 40%
            <br />
          </div>
        </div>
        <div class="grid gap-1 text-sm relative">
          <div
            class="aspect-square w-3 bg-primary rounded-full absolute left-0 translate-x-[-29.5px] z-10 top-1"
          >
          </div>
          <div class="font-medium">B. Tech. in Electrical</div>
          <div class="text-muted-foreground">
            <a
              href="https://iitk.ac.in"
              target="_blank"
              class="font-medium hover:underline"
            >
              IIT Kanpur
            </a>
            <span> - Kanpur, India</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="scroll-arrow-container hidden bg-slate-200 rounded-full p-8 backdrop-blur-md shadow items-end absolute bottom-8"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="scroll-arrow"
        ><path d="M8 18L12 22L16 18"></path><path d="M12 2V22"></path></svg
      >
    </div>
  </div>
</Layout>

<script>
  // const title = document.getElementsByClass("name-title");
  // gsap.to(title, {
  //   delay: 1,
  //   duration: 6,
  //   text: "Hot stuff coming soon!",
  // });

  // function animateArrowContainer() {
  //   const scrollArrowContainer = document.getElementsByClass(
  //     "scroll-arrow-container"
  //   );
  //   gsap.fromTo(
  //     scrollArrowContainer,
  //     { scale: 1, duration: 1 },
  //     {
  //       scale: 1.2,
  //       duration: 1,
  //       repeat: 1,
  //       yoyo: true,
  //       onComplete: animateArrowContainer,
  //       yoyoEase: true,
  //     }
  //   );
  // }

  // function animateArrow() {
  //   const scrollArrow = document.getElementsByClass("scroll-arrow");

  //   gsap.fromTo(
  //     scrollArrow,
  //     { y: 0, scale: 1, duration: 1 },
  //     {
  //       y: 20,
  //       scale: 1.2,
  //       duration: 1,
  //       repeat: 1,
  //       onComplete: animateArrow,
  //       yoyo: true,
  //       yoyoEase: true,
  //       rotateX: -60,
  //     }
  //   );
  // }

  // animateArrow();
  // animateArrowContainer();
</script>
