<footer
  class="py-8 px-6 flex items-center justify-center flex-col gap-4 bg-gradient-to-br from-violet-50 via-pink-50 to-cyan-50 dark:bg-gradient-to-tr dark:from-zinc-900 dark:to-slate-900 backdrop-blur-xl"
>
  <p class="text-foreground text-md">
    Made by <span class="font-semibold">Saurav</span>
  </p>
  <div class="flex items-center justify-center gap-4">
    <a href="https://linkedin.com/in/ksorv" target="_blank">
      <span class="sr-only">Follow Saurav on LinkedIn</span>
      <svg
        aria-hidden="true"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        astro-icon="social/linkedin"
        class="hover:text-blue-900"
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M20.33 2c.922 0 1.67.748 1.67 1.67v16.66A1.67 1.67 0 0 1 20.33 22H3.67A1.67 1.67 0 0 1 2 20.33V3.67C2 2.749 2.748 2 3.67 2zm-4.811 7.5c-1.42 0-2.39.627-2.823 1.356l-.071.13V9.625H9.917v9.583h2.916v-4.642c0-1.556.573-2.545 1.95-2.545.95 0 1.349.84 1.381 2.337l.003.208v4.642h2.916v-5.293c0-2.857-.683-4.415-3.564-4.415m-7.686 0H4.917v9.583h2.916zm-1.458-5a1.875 1.875 0 1 0 0 3.75 1.875 1.875 0 0 0 0-3.75"
        ></path>
      </svg>
    </a>
    <a href="https://twitter.com/sovkay" target="_blank">
      <span class="sr-only">Follow Saurav on Twitter</span>
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/twitter"
        class="hover:text-blue-500"
        ><path
          fill="currentColor"
          d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
        ></path></svg
      >
    </a>
    <a href="https://github.com/ksorv/blog" target="_blank">
      <span class="sr-only">Go to this website's GitHub repo</span>
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/github"
        class="hover:text-gray-700"
        ><path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path></svg
      >
    </a>
    <a href="https://ksorv.com/feed.xml" target="_blank">
      <span class="sr-only">Go to this website's RSS feed</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        class="hover:text-green-700"
        ><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"
        ></path><circle cx="5" cy="19" r="1"></circle></svg
      >
    </a>
  </div>
</footer>
